.main {
    width: 100%;
    height: 1000px;
    background-color: aqua;
    margin: 0 auto;
}

.app-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 200px 1fr; /* 1 строка 60 рх, вторая 1 фракция */
    grid-template-columns: 2fr 10fr; /* 1 колонка 2 фракции, вторая колонка 10 фракций */
}



